<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemon.learn.mapper.ProductMapper">


    <select id="query" resultType="com.lemon.learn.model.Product">
        SELECT
            `id`,
            `product_name` productName,
            `product_price` productPrice,
            `product_stock` productStock,
            `product_description` productDescription,
            `product_status` productStatus,
            `create_user` createUser,
            `create_time` createTime,
            `update_user` updateUser,
            `update_time` updateTime,
            `product_type` productType,
            `product_img` productImg
        FROM
            `product`
        WHERE
            `product_name` like concat ('%',#{productName},'%')
    </select>
</mapper>
