<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lemon.learn.mapper.SeataAlibabaOrderMapper">

    <insert id="create">
        INSERT INTO `order`(product_name, product_price)
        VALUES ("iPhone 12", 5799)
    </insert>
</mapper>
